.circuit-field {
  background: white;
}

.circuit-field-scrollarea {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  position: relative;
}

.circuit-field-svg {
  position: absolute;
  top: 0;
  left: 0;
}
