.circuit-field {
  background: var(--color-ui-light-bg);
}

.circuit-field * {
  touch-action: none;
}

.circuit-field-scrollarea {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  position: relative;
}
