.tessel {
  background: var(--color-ui-bg-dark);
  padding: 5px;
  box-sizing: border-box;
}

.tessel-split:hover {
  background: var(--color-ui-bg-light-selected-hover);
}

.tessel-split--row {
  height: 100%;
  width: 5px;
  min-width: 5px;
  cursor: col-resize;
}

.tessel-split--column {
  height: 5px;
  min-height: 5px;
  width: 100%;
  cursor: row-resize;
}

.tessel-window {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: var(--color-ui-bg-light);
  border-radius: 3px;
}

.tessel-window-titlebar {
  background: var(--color-ui-bg-surface);
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 5px;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  border-radius: 3px;
  border-bottom: 2px solid var(--color-ui-bg-surface-border);
}

.tessel-window-content {
  width: 100%;
  height: 100%;
  padding: 2px;
  flex-shrink: 1;
  min-height: 0;
  box-sizing: border-box;
}
