
.wire-segment {
  stroke: var(--color-element-neutral);
  fill: var(--color-element-neutral);
}

.wire-segment.powered {
  stroke: var(--color-element-powered);
  fill: var(--color-element-powered);
}