html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --color-element-neutral: black;
  --color-element-selected: goldenrod;
  --color-element-powered: green;
}

.flex-module__flex-row___\[fullhash-base64-5\] {
  display: flex;
  flex-direction: row;
}

.flex-module__flex-column___\[fullhash-base64-5\] {
  display: flex;
  flex-direction: column;
}

.flex-module__flexitem-shrink___\[fullhash-base64-5\] {
  flex-shrink: 1;
}

.flex-module__flex-row___\[fullhash-base64-5\] > .flex-module__flexitem-shrink___\[fullhash-base64-5\] {
  min-width: 0;
}
.flex-module__flex-column___\[fullhash-base64-5\] > .flex-module__flexitem-shrink___\[fullhash-base64-5\] {
  min-height: 0;
}

/** FIXME: ide ts is not generating typings when this is referenced with an @-path */

.sizing-module__fill-parent___\[fullhash-base64-5\] {
  width: 100%;
  height: 100%;
}

.circuit-field-node.node-selected .node-select-highlight--stroke {
  stroke: goldenrod;
  stroke: var(--color-element-selected);
}

.circuit-field-node.node-selected .node-select-highlight--fill {
  fill: goldenrod;
  fill: var(--color-element-selected);
}

.WireJoint-module__wire-joint___\[fullhash-base64-5\] {
  fill: black;
  fill: var(--color-element-neutral);
  stroke: black;
  stroke: var(--color-element-neutral);
}

.WireJoint-module__wire-joint___\[fullhash-base64-5\].WireJoint-module__selected___\[fullhash-base64-5\] {
  fill: goldenrod;
  fill: var(--color-element-selected);
  stroke: goldenrod;
  stroke: var(--color-element-selected);
}

.Wire-module__wire___\[fullhash-base64-5\] {
  fill: black;
  fill: var(--color-element-neutral);
  stroke: black;
  stroke: var(--color-element-neutral);
}

.Wire-module__wire___\[fullhash-base64-5\].Wire-module__powered___\[fullhash-base64-5\] {
  fill: green;
  fill: var(--color-element-powered);
  stroke: green;
  stroke: var(--color-element-powered);
}

.Wire-module__wire___\[fullhash-base64-5\].Wire-module__selected___\[fullhash-base64-5\] {
  fill: goldenrod;
  fill: var(--color-element-selected);
  stroke: goldenrod;
  stroke: var(--color-element-selected);
}

.NodePin-module__node-pin-output___\[fullhash-base64-5\] {
  fill: black;
  fill: var(--color-element-neutral);
  stroke: black;
  stroke: var(--color-element-neutral);
}
.NodePin-module__node-pin-output___\[fullhash-base64-5\].NodePin-module__is-drag-target___\[fullhash-base64-5\] {
  fill: goldenrod;
  fill: var(--color-element-selected);
  stroke: goldenrod;
  stroke: var(--color-element-selected);
  stroke-width: 3px;
}

.NodePin-module__node-pin-input___\[fullhash-base64-5\] {
  fill: transparent;
  stroke: black;
  stroke: var(--color-element-neutral);
}
.NodePin-module__node-pin-input___\[fullhash-base64-5\].NodePin-module__is-drag-target___\[fullhash-base64-5\] {
  stroke: goldenrod;
  stroke: var(--color-element-selected);
  stroke-width: 3px;
}

.CircuitField-module__circuit-editor___\[fullhash-base64-5\] {
  background: white;
}
.CircuitFieldView-module__circuit-field-view___\[fullhash-base64-5\] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.CircuitFieldView-module__circuit-field-content___\[fullhash-base64-5\] {
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}

.CircuitFieldView-module__circuit-field-zoom-container___\[fullhash-base64-5\] {
  position: absolute;
  transform-origin: 0 0;
}

.CircuitsTree-module__circuitstree___\[fullhash-base64-5\] {
  width: 100%;
  height: 100%;
}

.CircuitsTree-module__circuitstree___\[fullhash-base64-5\] .bp3-editable-text.bp3-editable-text-editing {
  color: black;
}

.NodeTray-module__nodetray___\[fullhash-base64-5\] {
  padding: 5px;
  background: white;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.NodeTray-module__nodetray-elements___\[fullhash-base64-5\] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0;
}

.SimControls-module__button___\[fullhash-base64-5\] {
  margin: 0 2px;
}

.SimControls-module__button-play___\[fullhash-base64-5\] {
  fill: darkgreen;
  cursor: pointer;
}

.SimControls-module__button-play___\[fullhash-base64-5\]:hover {
  fill: greenyellow;
}

.SimControls-module__button-stop___\[fullhash-base64-5\] {
  fill: darkred;
  cursor: pointer;
}

.SimControls-module__button-stop___\[fullhash-base64-5\]:hover {
  fill: red;
}

.SimControls-module__button-pause___\[fullhash-base64-5\] {
  fill: darkorange;
  cursor: pointer;
}

.SimControls-module__button-pause___\[fullhash-base64-5\]:hover {
  fill: orange;
}

.SimControls-module__button-pause___\[fullhash-base64-5\].SimControls-module__selected___\[fullhash-base64-5\] {
  fill: blue;
}

.SimControls-module__button--disabled___\[fullhash-base64-5\] {
  fill: grey;
  cursor: unset;
}

.SimControls-module__button--disabled___\[fullhash-base64-5\]:hover {
  fill: grey;
}


/*# sourceMappingURL=client.css.map*/