.button {
  border-radius: 3px;
  border: none;
  background: var(--color-ui-light-bg);
  cursor: pointer;
  margin: 2px;
  user-select: none;
}

.button:hover {
  background-color: var(--color-ui-light-hover);
}

.button:focus {
  border: none;
  background-color: var(--color-ui-light-hover);
}

.button--size-small {
  padding: 3px 6px;
}

.button--size-default {
  padding: 7px 10px;
}

.button--variant-primary {
  background: var(--color-ui-primary-bg)
}

.button--variant-default {
  background: var(--color-ui-surface-bg)
}

.button--variant-menu {
  background: none;
}