:root {
  --color-element-neutral: black;
  --color-element-selected: goldenrod;
  --color-element-powered: green;

  --color-ui-bg-light: white;
  --color-ui-bg-light-hover: rgb(218, 218, 218);
  --color-ui-bg-light-selected: rgb(209, 224, 255);
  --color-ui-bg-light-selected-hover: rgb(179, 194, 225);

  --color-ui-text-disabled: rgb(218, 218, 218);

  --color-ui-bg-dark: rgb(117, 117, 117);
  --color-ui-bg-dark-text: white;
}
