.button {
  margin: 0 2px;
}

.button-play {
  fill: darkgreen;
  cursor: pointer;
}

.button-play:hover {
  fill: greenyellow;
}

.button-stop {
  fill: darkred;
  cursor: pointer;
}

.button-stop:hover {
  fill: red;
}

.button-pause {
  fill: darkorange;
  cursor: pointer;
}

.button-pause:hover {
  fill: orange;
}

.button-pause.selected {
  fill: blue;
}

.button--disabled {
  fill: grey;
  cursor: unset;
}

.button--disabled:hover {
  fill: grey;
}
