.element-pin-output {
  fill: var(--color-element-neutral);
  stroke: var(--color-element-neutral);
}

.element-pin-output.highlight {
  fill: var(--color-element-selected);
  stroke: var(--color-element-selected);
  stroke-width: 3px;
}

.element-pin-output.is-drag-target {
  fill: var(--color-element-wiretarget);
  stroke: var(--color-element-wiretarget);
  stroke-width: 3px;
}

.element-pin-input {
  fill: transparent;
  stroke: var(--color-element-neutral);
}

.element-pin-input.highlight {
  stroke: var(--color-element-selected);
  stroke-width: 3px;
}

.element-pin-input.is-drag-target {
  stroke: var(--color-element-wiretarget);
  stroke-width: 3px;
}