.intro {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  z-index: 9999;
}

.intro-content {
  box-sizing: border-box;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.intro-header {
  flex: 0 1 auto;
}

.intro-markdown {
  flex: 0 1 auto;
  overflow-y: scroll;
  background: lightgray;
  margin: 5px;
  padding: 5px;
}

.intro-dismiss {
  min-height: 2em;
}
