.node-pin-output {
  fill: var(--color-element-neutral);
  stroke: var(--color-element-neutral);
}

.node-pin-output.highlight,
.node-pin-output.is-drag-target {
  fill: var(--color-element-selected);
  stroke: var(--color-element-selected);
  stroke-width: 3px;
}

.node-pin-input {
  fill: transparent;
  stroke: var(--color-element-neutral);
}

.node-pin-input.highlight,
.node-pin-input.is-drag-target {
  stroke: var(--color-element-selected);
  stroke-width: 3px;
}
