.dialog {
  width: 588px;
  background: var(--color-ui-bg-light);
  border-radius: 5px;
  min-height: 100px;
  padding: 5px 10px;
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}
