.editor-root {
  display: flex;
  flex-direction: row;
}

.editor-content-panel {
  flex-grow: 1;
  background: darkgray;
  min-width: 10px;
}

.editor-sidebar-panel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: lightgrey;
}
