.selection-list {
  padding: 0;
  list-style: none;
}

.selection-list-item {
  background: white;
  margin: 0 2px;
  cursor: default;
}

.selection-list-item:hover {
  background-color: var(--color-ui-bg-hover);
}

.selection-list-item--selected {
  background-color: var(--color-ui-bg-selected);
}

.selection-list-item--selected:hover {
  background-color: var(--color-ui-bg-selected-hover);
}

.selection-list-item-content {
  padding: 6px 10px;
}
