.editor {
  display: flex;
  flex-direction: column;
  background: grey;
}

.editor-fieldcontainer {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  align-self: center;
}

.editor-toolwindow-horizontal {
  background: white;
  width: 100%;
  height: 250px;
}
