.node-tray {
  background: var(--color-ui-light-bg);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.node-tray-search {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
}

.node-tray-element-container {
  overflow-y: scroll;
  width: 100%;
}

.node-tray-element-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.node-tray-category {
  box-sizing: border-box;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

.node-tray-item {
  box-sizing: border-box;
  padding: 6px 7px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: var(--color-ui-light-bg);
}

.node-tray-item:hover {
  background: var(--color-ui-light-hover);
}

.node-tray-item-preview {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
